apiVersion: v1
kind: PersistentVolume
metadata:
  name: db-pv
  namespace: myweb
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: kube-control1
    path: /mnt/data/myweb-db
---    
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-pvc
  namespace: myweb
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  volumeName: db-pv