{% load i18n %}
<div class="row justify-content-between my-3">
    <div class="col-8">
        <div class="row mb-3">
            <div class="col-4">
                <select class="form-control so">
                    <option value="recent"
                            {% if so == 'recent' %}selected{% endif %}>recent
                    </option>
                    <option value="old"
                            {% if so == 'old' %}selected{% endif %}>old
                    </option>
                    <option value="popular"
                            {% if so == 'popular' %}selected{% endif %}>popular
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group">
            <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">
                    {% trans "QUESTION_LIST.SEARCH" %}
                </button>
            </div>
        </div>
    </div>
</div>