{% load i18n %}
{% load qna_filter %}
<div class="row my-3">
    <div class="col-1">
        <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
            {{ question.voter.count }}
        </div>
        <a href="#" data-uri="{% url 'QnA:vote_question' question.id %}"
           class="recommend btn btn-sm btn-secondary btn-block my-1">{% trans "QUESTION_DETAIL.UP" %}</a>
    </div>
    <div class="col-11">
        <div class="card">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;">{{ question.content|mark }}</div>
                <div class="d-flex justify-content-end">
                    {% if question.modify_date %}
                        <div class="badge badge-light p-2 text-left mx-3">
                            <div class="mb-2">modified at</div>
                            <div>{{ question.modify_date }}</div>
                        </div>
                    {% endif %}
                    <div class="badge badge-light p-2 text-left">
                        <div class="mb-2">{{ question.author.username }}</div>
                        <div>{{ question.create_date }}</div>
                    </div>
                </div>
                {% if request.user == question.author %}
                    <div class="my-3">
                        <a href="{% url 'QnA:question_modify' question.id %}"
                           class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a href="#" class="delete btn btn-sm btn-outline-secondary"
                           data-uri="{% url 'QnA:question_delete' question.id %}">Delete</a>
                    </div>
                {% endif %}
                <!-- comment -->
                {% include "QnA/question_detail/question_comment.html" %}
                <!-- end of comment -->
            </div>
        </div>
    </div>
</div>