{% load i18n %}
{% if question.comment_set.count > 0 %}
    <div class="my-3">
        {% for comment in question.comment_set.all %}
            <a id="comment_{{ comment.id }}"></a>
            <div class="comment py-2 text-muted">
                <span style="white-space: pre-line;">{{ comment.content }}</span>
                <span>
            - {{ comment.author }}, {{ comment.create_date }}
                    {% if comment.modify_date %}
                        (modified: {{ comment.modify_date }})
                    {% endif %}
        </span>
                {% if request.user == comment.author %}
                    <a href="{% url 'pybo:comment_modify_question' comment.id %}"
                       class="small">{% trans "QUESTION_DETAIL.MODIFY" %}</a>
                    <a href="#" class="small delete"
                       data-uri="{% url 'pybo:comment_delete_question' comment.id %}">{% trans "QUESTION_DETAIL.DELETE" %}</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div>
    <a href="{% url 'pybo:comment_create_question' question.id %}"
       class="small"><small>{% trans "QUESTION_DETAIL.ADD_COMMENT" %}</small></a>
</div>