{% load i18n %}
{% load pybo_filter %}
{% for answer in answer_list.all %}
    <a id="answer_{{ answer.id }}"></a>
    <div class="row my-3">
        <div class="col-1">
            <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
                {{ answer.voter.count }}
            </div>
            <a href="#" data-uri="{% url 'pybo:vote_answer_question' answer.id %}"
               class="recommend btn btn-sm btn-secondary btn-block my-1">{% trans "QUESTION_DETAIL.UP" %}</a>
        </div>
        <div class="col-11">
            <div class="card">
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line">{{ answer.content|mark }}</div>
                    <div class="d-flex justify-content-end">
                        {% if answer.modify_date %}
                            <div class="badge badge-light p-2 text-left mx-3">
                                <div class="mb-2">{% trans "QUESTION_DETAIL.MODIFIED_DATE" %}</div>
                                <div>{{ answer.modify_date }}</div>
                            </div>
                        {% endif %}
                        <div class="badge badge-light p-2 text-left">
                            <div class="mb-2">{{ answer.author.username }}</div>
                            <div>{{ answer.create_date }}</div>
                        </div>
                    </div>
                    {% if request.user == answer.author %}
                        <div class="my-3">
                            <a href="{% url 'pybo:answer_modify' answer.id %}"
                               class="btn btn-sm btn-outline-secondary">{% trans "QUESTION_DETAIL.MODIFY" %}</a>
                            <a href="#" class="delete btn btn-sm btn-outline-secondary"
                               data-uri="{% url 'pybo:answer_delete' answer.id %}">{% trans "QUESTION_DETAIL.DELETE" %}</a>
                        </div>
                    {% endif %}
                    <!-- comment -->
                    {% include "pybo/question_detail/answer_comment.html" %}
                    <!-- end of comment -->
                </div>
            </div>
        </div>
    </div>
{% endfor %}